.box {
    box-shadow: 0 0 64px;
    background: linear-gradient(0.25turn, #3f87a666, #ebf8e166, #f69d3c66);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.font-thin {
    font-family: "Josefin Sans", sans-serif;
    font-variant: small-caps;
}

.font-med {
    font-family: "Macondo", cursive;
    font-variant: small-caps;
}

.font-big {
    font-family: "Preahvihear", sans-serif;
}

.title {
    font-size: 64px;
}

.subtitle {
    font-size: 32px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-big {
    width: 90vw;
    height: 300px;
    margin: 30px 5vw;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #121818;
    background-image: url("vendor/forest-5426239-2.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    filter: contrast(30%);
}

#logo {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    top: 0;
    left: 0;
    background-color: #ebf8e166;
    border-radius: 0 0 32px 32px / 0 0 16px 16px;
    padding-right: 8px;
    padding-left: 8px;
    border-top: 2px solid #d5d5d5;
    border-left: 2px solid #d5d5d5;
    box-shadow: 4px 4px 2px #0007;
    text-decoration: none;
}

#logo > img {
    margin-right: 8px;
}

#logo > span {
    font-size: 48px;
}

#logo > div {
    display: flex;
    flex-direction: column;
}

#logo > div > span {
    font-size: 20px;
}

#portrait {
    width: 226px;
    height: 300px;
    filter: contrast(110%);
    border-radius: 32px;
    box-shadow: 8px 8px 8px, -8px -8px 8px #e5f2fa55;
}

#desc {
    flex-direction: column;
    filter: contrast(140%);
}

#name {
    background: #3a517155;
    color: #e5f2fa;
    text-shadow: 4px 4px 6px black;
    border-radius: 0 0 32px 32px / 0 0 16px 16px;
    box-shadow: 0 0 64px #e5f2fa;
    padding: 6px 1vw 0;
}

#job {
    background: linear-gradient(#e6646511, #9198e511);
    color: indigo;
    text-shadow: 2px 2px 3px #0008;
    border-radius: 0 0 32px 32px / 0 0 16px 16px;
    padding: 0 1vw 3px;
}

#main {
    width: 100vw;
    height: 64px;
    gap: 16px;
    padding-top: 16px;
    box-sizing: border-box;
    border-radius: 0 0 32px 32px / 0 0 16px 16px;
    width: 100%; /* fix weird bug: width too big when adding iframe to #stuff */
    user-select: none;
}

#main > .link {
    font-size: 32px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #878cc6;
    color: #e5f2fa;
    text-shadow: 1px 1px 2px #0004;
    box-shadow: 2px 0 8px #0007;
    border-radius: 32px 32px 0 0 / 16px 16px 0 0;
    border-top: 2px solid #d5d5d5;
    border-left: 2px solid #d5d5d5;
    text-decoration: none;
}

#main > .link:hover {
    border-top: thick double #e5f2fa;
    border-left: thick double #e5f2fa;
}

#main > .link:active {
    border-top: none;
    border-left: none;
}

#stuff {
    margin: 16px;
    padding: 16px;
    gap: 16px;
    box-sizing: border-box;
    border-radius: 32px 32px 0 0 / 16px 16px 0 0;
}

#stuff > * {
    border-radius: 32px 32px 0 0 / 16px 16px 0 0;
}

#stuff > .bandcamp {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 480px;
    height: 300px;
}

#stuff > .vid {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 560px;
    height: 315px;
}

#credits {
    padding: 20px 20px;
    gap: 16px;
    box-sizing: border-box;
}

#credits > * {
    margin: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.short {
    display: none;
}

@media (max-width: 859px) {
    #main {
        justify-content: end;
        padding-right: 32px;
    }
}

@media (max-width: 685px) {
    .short {
        display: inline-block;
    }
    .long {
        display: none;
    }
}
